<div class="w-full max-w-lg m-auto px-2">
    <div class="flex flex-wrap justify-between mb-6">
        <h3 class="font-normal">Home Page</h3>
    </div>

    <div class="flex items-center mb-6">
        <img alt="avatar" class="w-24" src="https://placekitten.com/300/300" />
        <div class="ml-3">
            <p><strong>Hello World!</strong></p>
            <p>This is just a test project.</p>
            <em class="text-sm text-grey-dark select-none">No phone number specified</em>
        </div>
    </div>
</div>
