<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if title}}{{title}} &mdash; {{else}}{{/if}}Enterprise Computing Group Project</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Alegreya&family=Roboto:wght@100;300;500&display=swap" />
</head>
<body class="h-full w-full">
    <nav class="bg-indigo-light flex flex-wrap items-center justify-between mb-12 p-6">
        <a href="/" class="font-bold no-underline text-white text-xl tracking-tight uppercase">Enterprise Computing Group Project</a>
    </nav>

    <main class="pb-8">{{{body}}}</main>
</body>
</html>
